<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8" />
        <meta name="description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:image" content="https://cloud.githubusercontent.com/assets/1655848/20340757/5ada5cf6-abe3-11e6-97c4-e68929b8a135.png" />
        <meta property="og:title" content="<%= __('misc.maintitle') %>" />
        <meta property="og:type" content="website" />
        <!-- It's import to keep the old og:url, else, likes will not accumulate properly -->
        <meta property="og:url" content="http://electricitymap.tmrow.co" />
        <meta property="og:locale" content="<%= FBLocale %>" />
        <% for(var i=0; i<supportedFBLocales.length; i++) {%>
        <meta property="og:locale:alternate" content="<%= supportedFBLocales[i] %>" />
        <% } %>
        <meta property="fb:app_id" content="1267173759989113" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@corradio">
        <meta name="twitter:description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta name="twitter:image" content="https://cloud.githubusercontent.com/assets/1655848/20340757/5ada5cf6-abe3-11e6-97c4-e68929b8a135.png">
        <meta name="twitter:site" content="@tmrowco">
        <meta name="twitter:title" content="Electricity Map | Live CO2 emissions of electricity consumption" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src * 'unsafe-inline'; media-src *" />

        <meta name="apple-itunes-app" content="app-id=1224594248" />

        <title>Electricity Map | <%= __('misc.maintitle') %></title>

        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" type="text/css" href="dist/styles.<%= bundleHash %>.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <!-- Google App Indexing (Android) -->
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/https/electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/http/electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/https/www.electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/http/www.electricitymap.org" />

        <!-- Google App Indexing (iOS) -->
        <link rel="alternate" href="ios-app://1224594248/https/electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/http/electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/https/www.electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/http/www.electricitymap.org" />

        <script src="https://d3tvtfb6518e3e.cloudfront.net/3/opbeat.min.js" async></script>
        <% if (typeof isCordova !== 'undefined' && isCordova) { %>
        <script src="../cordova.js"></script>
        <% } %>
        <script defer src="dist/bundle.<%= bundleHash %>.js"></script>

        <!-- Set Global Variables -->
        <script>
            var bundleHash = '<%= bundleHash %>';
            var locale = '<%= locale %>';
            var FBLocale = '<%= FBLocale %>';
            var isCordova = (typeof isCordova !== 'undefined' && isCordova);
        </script>
    </head>
    <body>
        <div id="connection-warning" class="flash-message">
            <div class="inner"><%= __('misc.oops') %></div>
        </div>
        <div id="new-version" class="flash-message">
            <div class="inner"><%- __('misc.newversion') %></div>
        </div>
        <div id="main">
            <div class="panel left-panel">
                <div class="left-panel-info">
                    <h1>
                        <%= __('misc.maintitle') %>
                    </h1>
                    <div class="large-screen-visible">
                        <div>
                            <%= __('misc.lastupdate') %>:
                            <span class="current-datetime"></span>
                            <small>(<span class="current-datetime-from-now"></span>)</small>
                        </div>
                    </div>
                    <hr />

                    <div class="left-panel-initial-text">
                        <p>
                            <%= __('panel-initial-text.thisshowsrealtime') %> <span style="color: lightgray"><%= __('panel-initial-text.whereelectricitycomesfrom') %></span> <%= __('panel-initial-text.and') %> <span style="color: lightgray"><%= __('panel-initial-text.howmuchco2') %></span> <%= __('panel-initial-text.wasemitted') %>.
                        </p>
                        <p>
                            <%= __('panel-initial-text.takeinaccount') %> <span style="color: lightgray"><%= __('panel-initial-text.importexport') %></span><span class="large-screen-visible"> <img src="images/arrow-400-animated-0.gif" style="width: 1em; transform: rotate(90deg); transform-origin: 0; margin-left: 1em;" /></span> <%= __('panel-initial-text.betweencountries') %>.
                        </p>
                        <p class="large-screen-visible">
                            <span style="font-size: 1.2em; color: white;"><i><%= __('panel-initial-text.tip') %> ⟶</i></span>
                        </p>
                        <div class="layer-toggles">
                            <hr />
                            <p>
                                <%= __('legends.carbonintensity')%> <span style="color: darkgrey">(gCO2eq/kWh) </span><small><input type="checkbox" id="checkbox-colorblind" /><label for="checkbox-colorblind"><%= __('legends.colorblindmode') %></label></small>
                                <svg class="co2-colorbar colorbar" style="width: 100%"></svg>
                            </p>
                            <p>
                                <input type="checkbox" id="checkbox-wind" />
                                <label for="checkbox-wind"><%= __('legends.windpotential') %> <span style="color: darkgrey">(m/s)</span> 💨</label>
                                <svg class="wind-colorbar colorbar" style="width: 100%; display:none"></svg>
                            </p>
                            <p>
                                <input type="checkbox" id="checkbox-solar" />
                                <label for="checkbox-solar"><%= __('legends.solarpotential') %> <span style="color: darkgrey">(W/m<sup>2</sup>)</span> ☀️</label>
                                <svg class="solar-colorbar colorbar" style="width: 100%; display:none"></svg>
                            </p>
                        </div>
                    </div>

                    <div>
                        <hr />
                        <%= __('footer.foundbugs') %> <a href="https://github.com/corradio/electricitymap/issues/new" target="_blank"><%= __('footer.here') %></a>.<br />
                        <p>
                            <%= __('panel-initial-text.thisproject') %> <a href="https://github.com/corradio/electricitymap" target="_blank"><%= __('panel-initial-text.opensource') %></a> (<%= __('panel-initial-text.see') %> <a href="https://github.com/corradio/electricitymap#data-sources" target="_blank"><%= __('panel-initial-text.datasources') %></a>). <%- __('panel-initial-text.contribute', 'https://github.com/tmrowco/electricitymap#adding-a-new-country') %>.
                        </p>
                        <%= __('footer.likethisvisu') %> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-_sRr3mmhe0bifigGxfAzgh97-pJFcwpwWZGLFc6vvu8laA/viewform?c=0&w=1" target="_blank"><%= __('footer.loveyourfeedback') %></a>!
                    </div>
                </div>

                <div class="left-panel-country">
                    <div class="left-panel-country-toolbar">
                        <span id="left-panel-country-back">×</span>
                        <div class="country-name-time">
                            <div class="country-name"></div>
                            <div class="country-last-update">?</div>
                        </div>
                        <img id="country-flag" class="flag"></img>
                    </div>
                    <div class="country-panel">
                        <div class="country-table-header">
                            <div class="country-table-header-inner">
                                <div class="country-col country-emission-intensity-wrap">
                                    <div class="country-col-headline"><%= __('country-panel.carbonintensity') %></div>
                                    <div id="country-emission-rect" class="country-col-box emission-rect emission-rect-overview">
                                        <div><span class="country-emission-intensity"></span>g</div>
                                    </div>
                                    <div class="country-col-subtext">(CO2eq/kWh)</div>
                                </div>
                                <div class="country-col country-col-fossilpct">
                                    <div class="country-col-headline"><%=__('country-panel.fossilfuels')%></div>
                                    <div class="country-col-box" style="">
                                        <span class="fossil-fuel-percentage"></span>%
                                    </div>
                                    <div class="country-col-subtext">
                                    </div>
                                </div>
                                <div class="country-col country-price-wrap">
                                    <div class="country-col-headline"><%= __('country-panel.electricityprice') %></div>
                                    <div class="country-col-box country-spot-price-wrap">
                                        <div class="country-spot-price"></div>
                                        <div style="font-size: 0.5rem; line-height: 0.5rem;"><span class="country-spot-price-currency"></span>/MWh</div>
                                    </div>
                                    <div class="country-col-subtext">
                                        (<%= __('country-panel.electricityprice-dayahead') %>)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="country-show-emissions-wrap">
                            <div class="menu">
                                <a id="production" href="javascript:toggleSource(false)"><%= __('country-panel.electricityproduction') %></a>
                                |
                                <a id="emissions" href="javascript:toggleSource(true)"><%= __('country-panel.emissions') %></a>
                            </div>
                            <div class="bysource">
                                <%= __('country-panel.bysource') %>
                            </div>
                        </div>
                        <svg class="country-table"></svg>
                        <p>
                            <%= __('misc.lastupdate') %>:
                            <span class="current-datetime"></span>
                            <small>(<span class="current-datetime-from-now"></span>)</small><br />
                            <%=__('country-panel.source')%>:
                            <a href="https://github.com/corradio/electricitymap#real-time-electricity-data-sources" target="_blank">
                                <span class="country-data-source"></span>
                            </a> <small>(<%- __('country-panel.addeditsource', 'https://github.com/tmrowco/electricitymap/tree/master/parsers') %>)</small>
                        </p>
                        <hr />
                        <span style="color: darkgray;">
                            <%= __('country-history.carbonintensity24h') %> (<span class="country-time"></span>):
                        </span>
                        <svg class="country-history"></svg>
                        <p>
                            <%- __('country-panel.co2signal') %>
                        </p>
                    </div>
                </div>

                <div class="left-panel-highscore">
                    <div class="left-panel-toolbar">
                        <div class="left-panel-toolbar-title">
                            <span id="left-panel-highscore-back" class="large-screen-visible">×</span>
                            <%- __('rankings-panel.country-ranking') %>
                        </div>
                        <div class="left-panel-toolbar-right-placeholder"></div>
                    </div>

                    <div class="country-picker-container">
                        <p></p>
                    </div>
                </div>

                <div class="left-panel-social">
                    <p>
                        <!-- Facebook share -->
                        <div class="fb-share-button"
                             data-href="https://www.electricitymap.org/"
                             data-layout="button_count">
                        </div>
                        <!-- Twitter share -->
                        <a class="twitter-share-button"
                           data-url="https://www.electricitymap.org"
                           data-via="tmrowco"
                           data-lang="<%= locale %>"></a>
                        <!-- Slack -->
                        <span class="slack-button">
                            <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                                <span class="slack-ico"></span>
                                <span class="slack-text">Slack</span>
                            </a>
                        </span>
                    </p>
                </div>
            </div>

            <div id="map-container">
                <div id="map"></div>
                <canvas class="wind map-layer"></canvas>
                <canvas class="solar map-layer"></canvas>
                <div id="country-tooltip" class="tooltip panel">
                    <%= __('tooltips.carbonintensity') %>:<br />
                    <img id="country-flag" class="flag"></img> <span id="country-name"></span>:
                    <div class="emission-rect"></div> <span class="country-emission-intensity"></span> gCO2eq/kWh (<span class="fossil-fuel-percentage"></span> % <%= __('tooltips.fossilfuels')%>)<br />
                    <br />
                    <%= __('tooltips.electricityprice') %>: <span class="country-spot-price"></span> <span class="country-spot-price-currency"></span>/MWh
                </div>
                <div id="exchange-tooltip" class="tooltip panel">
                    <%= __('tooltips.crossborderexport') %>:<br />
                    <img class="from flag"></img> <span id="from"></span> → <img class="to flag"></img> <span id="to"></span>: <span id="flow" style="font-weight: bold"></span> MW<br />
                    <br />
                    <%= __('tooltips.carbonintensityexport') %>:<br />
                    <div class="emission-rect"></div> <span class="country-emission-intensity emission-intensity"></span> gCO2eq/kWh
                </div>
                <div class="weather-buttons small-screen-visible">
                  <a class="wind-toggle"><img src="images/weather/wind.svg"></img></a>
                  <a class="solar-toggle"><img src="images/weather/sun.svg"></img></a>
                </div>
                <div class="watermark">
                    <a href="http://www.tmrow.com" target="_blank"><img src="images/tomorrow.svg" style="width:130px"/></a>
                </div>
                <div class="highscore-button">
                    <%- __('rankings-panel.show-ranking') %>
                </div>
            </div>
            <div id="bottom-menu">
                <a class="list-item map-button">
                    <div>
                        <i class="fa fa-map-o" aria-hidden="true"></i><br /><%= __('menu.mapview') %>
                    </div>
                </a>
                <a class="list-item highscore-button">
                    <div>
                        <i class="fa fa-list" aria-hidden="true"></i><br /><%= __('menu.listview') %>
                    </div>
                </a>
                <a class="list-item info-button">
                    <div>
                        <i class="fa fa-info" aria-hidden="true"></i><br /><%= __('menu.info') %>
                    </div>
                </a>
            </div>
        </div>
        <div class="loading overlay"></div>
        <div id="embedded-error" class="overlay" style="background-color: grey; display: none">
            Embedding of the ElectricityMap has been deactivated. You can still access it at <a href="http://www.electricitymap.org" target="_blank">http://www.electricitymap.org</a>.<br />
            Please contact us at <a href="mailto:hello@tmrow.com">hello@tmrow.com</a> for more information.
        </div>
        <div id="countrypanel-production-tooltip" class="tooltip panel">
            <span id="line1"></span><br />
            <small>(<span id="production-proportion-detail"></span>)</small><br />
            <span class="production-visible">
                <br />
                <%= __('tooltips.utilizing') %> <span id="capacity-factor"></span> <%= __('tooltips.ofinstalled') %><br />
                <small>(<span id="capacity-factor-detail"></span>)</small><br />
                <br />
                <%= __('tooltips.withcarbonintensity') %><br />
                <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO2eq/kWh <small>(source: <span class="emission-source"></span>)</small>
            </span>
        </div>
        <div id="countrypanel-exchange-tooltip" class="tooltip panel">
            <span id="line1"></span><br />
            <small>(<span id="exchange-proportion-detail"></span>)</small><br />
            <span class="production-visible">
                <br />
                <%= __('tooltips.utilizing') %> <span id="capacity-factor"></span> <%= __('tooltips.ofinstalled') %><br />
                <small>(<span id="capacity-factor-detail"></span>)</small><br />
                <br />
                <%= __('tooltips.withcarbonintensity') %><br />
                <img class="country-exchange-source-flag flag"></img> <span class="country-exchange-source-name"></span>: <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO2eq/kWh<br />
            </span>
        </div>
    </body>
</html>
