<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8" />
        <meta name="description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:image" content="https://cloud.githubusercontent.com/assets/1655848/20340757/5ada5cf6-abe3-11e6-97c4-e68929b8a135.png" />
        <meta property="og:title" content="<%= __('misc.maintitle') %>" />
        <meta property="og:type" content="website" />
        <!-- It's import to keep the old og:url, else, likes will not accumulate properly -->
        <meta property="og:url" content="http://electricitymap.tmrow.co" />
        <meta property="og:locale" content="<%= FBLocale %>" />
        <% for(var i=0; i<supportedFBLocales.length; i++) {%>
        <meta property="og:locale:alternate" content="<%= supportedFBLocales[i] %>" />
        <% } %>
        <meta property="fb:app_id" content="1267173759989113" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@corradio">
        <meta name="twitter:description" content="Electricity Map is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta name="twitter:image" content="https://cloud.githubusercontent.com/assets/1655848/20340757/5ada5cf6-abe3-11e6-97c4-e68929b8a135.png">
        <meta name="twitter:site" content="@tmrowco">
        <meta name="twitter:title" content="Electricity Map | Live CO2 emissions of the European electricity consumption" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>Electricity Map | <%= __('misc.maintitle') %></title>

        <link rel="stylesheet" type="text/css" href="dist/styles.<%= bundleHash %>.css">
        <link rel="stylesheet" type="text/css" href="flag-icon-css/css/flag-icon.min.css">

        <script defer src="https://d3tvtfb6518e3e.cloudfront.net/3/opbeat.min.js"></script>
        <script defer src="dist/bundle.<%= bundleHash %>.js"></script>

        <!-- Set Global Variables -->
        <script>
            var bundleHash = '<%= bundleHash %>';
            var locale = '<%= locale %>';
        </script>

        <% if (useAnalytics) { %>
        <!-- start GA -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-79729918-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- end GA -->
        <!-- start Mixpanel -->
        <script type="text/javascript">
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
            mixpanel.init('f350f1ec866f4737a5f69497e58cf67d');
            mixpanel.track('Visit', {'bundleVersion': '<%= bundleHash %>'});
        </script>
        <!-- end Mixpanel -->
        <% } %>
        <!-- start Twitter -->
        <script>
            window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
            }(document, "script", "twitter-wjs"));
        </script>
        <!-- end Twitter -->
    </head>
    <body>
        <!-- start FB analytics -->
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1267173759989113',
                    xfbml      : true,
                    version    : 'v2.8'
                });
                <% if (useAnalytics) { %>
                FB.AppEvents.logPageView('pageview');
                <% } %>
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/<%= FBLocale || en_US %>/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- end FB analytics -->
        <div id="connection-warning" class="flash-message">
            <div class="inner"><%= __('misc.oops') %></div>
        </div>
        <div id="new-version" class="flash-message">
            <div class="inner"><%- __('misc.newversion') %></div>
        </div>
        <svg class="map sea"></svg>
        <canvas class="map wind"></canvas>
        <canvas class="map solar"></canvas>

        <div class="panel left-panel">
            <h1>
                <%= __('misc.maintitle') %>
            </h1>
            <div id="current-datetime" class="large-screen-visible">
                <div>
                    <%= __('misc.lastupdate') %>: 
                    <span id="current-date"></span>
                    <span id="current-time"></span>
                </div>
                <div class="time-travel">
                    <!-- TODO: CHANGE (don't load like this) -->
                    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
                    <input type="text" class="flatpickr" />
                </div>
            </div>
            <p>
                <span id="country-table-back-button" style="display: none"><a><< <%= __('country-panel.back') %></a></span>
            </p>
            <hr />
            <div class="country-panel" style="display: none">
                <div class="country-table-header">
                    <i id="country-flag"></i>
                    <b>
                        <span class="country-name"></span>
                    </b>
                    <span style="color: darkgray;">
                        (<span class="country-last-update">?</span>) [<a href="https://github.com/corradio/electricitymap#real-time-electricity-data-sources" target="_blank">source</a>]
                        <br />
                        <%= __('misc.carbonintensity') %>:  <div id="country-emission-rect" class="emission-rect"></div> <span class="country-emission-intensity"></span> gCO2eq/kWh (<span class="fossil-fuel-percentage"></span> % <%=__('country-panel.fossilfuels')%>)<br />
                        <%= __('country-panel.electricityprice') %>: <span class="country-spot-price"></span> &euro;/MWh<br />
                        <span class="country-show-emissions"><%= __('country-panel.electricityproduction') %> (<a href="javascript:toggleSource();"><%= __('country-panel.showemissions')%></a>) <%= __('country-panel.bysource')%>:</span>
                        <span class="country-show-electricity" style="display: none;"><%= __('country-panel.emissions') %> (<a href="javascript:toggleSource();"><%= __('country-panel.showelectricity') %></a>) <%= __('country-panel.bysource')%>:</span>
                    </span>
                </div>
                <svg class="country-table"></svg>
                <hr />
                <span style="color: darkgray;">
                    <%= __('country-history.carbonintensity24h') %>:
                </span>
                <svg class="country-history"></svg>
                <p>
                    <%- __('country-panel.co2signal') %>
                </p>
            </div>
            <div class="left-panel-initial-text">
                <p class="small-screen-visible" style="font-style: italic">
                    <%= __('panel-initial-text.youareseeing') %> <span style="color: lightgray"><%= __('panel-initial-text.limitedversion') %></span>. <%= __('panel-initial-text.forthe') %> <span style="color: lightgray"><%= __('panel-initial-text.fullversion') %></span>, <%= __('panel-initial-text.visitoncomputer') %>.
                </p>
                <p class="large-screen-visible">
                    <%= __('panel-initial-text.thisshowsrealtime') %> <span style="color: lightgray"><%= __('panel-initial-text.whereelectricitycomesfrom') %></span> <%= __('panel-initial-text.and') %> <span style="color: lightgray"><%= __('panel-initial-text.howmuchco2') %></span> <%= __('panel-initial-text.wasemitted') %>.
                </p>
                <p class="large-screen-visible">
                    <%= __('panel-initial-text.takeinaccount') %> <span style="color: lightgray"><%= __('panel-initial-text.importexport') %></span><span class="large-screen-visible"> <svg id="example-arrow" style="width: 1em; height: 1em"></svg></span> <%= __('panel-initial-text.betweencountries') %>.
                </p>
                <p>
                    <span style="color: lightgray; font-size: 14px; color: white;"><i><%= __('panel-initial-text.tip') %> ⟶</i></span>
                </p>
                <div class="country-picker-container small-screen-visible" style="margin-left: 20px">
                    <p></p>
                </div>
                <p>
                    <%= __('panel-initial-text.thisproject') %> <a href="https://github.com/corradio/electricitymap" target="_blank"><%= __('panel-initial-text.opensource') %></a> (<%= __('panel-initial-text.see') %> <a href="https://github.com/corradio/electricitymap#data-sources" target="_blank"><%= __('panel-initial-text.datasources') %></a>).
                </p>
                <div class="layer-toggles large-screen-visible">
                    <hr />
                    <p>
                        <%= __('misc.carbonintensity')%> <span style="color: darkgrey">(gCO2eq/kWh)</span>
                        <svg class="co2-colorbar colorbar" style="width: 100%"></svg>
                    </p>
                    <p>
                        <input type="checkbox" id="checkbox-wind" />
                        <label for="checkbox-wind"><%= __('legends.windpotential') %> <span style="color: darkgrey">(m/s)</span> 💨</label>
                        <svg class="wind-colorbar colorbar" style="width: 100%; display:none"></svg>
                    </p>
                    <p>
                        <input type="checkbox" id="checkbox-solar" />
                        <label for="checkbox-solar"><%= __('legends.solarpotential') %> <span style="color: darkgrey">(W/m<sup>2</sup>)</span> ☀️</label>
                        <svg class="solar-colorbar colorbar" style="width: 100%; display:none"></svg>
                    </p>
                </div>
            </div>
            <div>
                <hr />
                <%= __('footer.foundbugs') %> <a href="https://github.com/corradio/electricitymap/issues/new" target="_blank"><%= __('footer.here') %></a>.<br />
                <%= __('footer.likethisvisu') %> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-_sRr3mmhe0bifigGxfAzgh97-pJFcwpwWZGLFc6vvu8laA/viewform?c=0&w=1" target="_blank"><%= __('footer.loveyourfeedback') %></a>!
            </div>
            <p>
                <!-- Facebook share -->
                <div class="fb-share-button"
                    data-layout="button_count">
                </div>
                <!-- Twitter share -->
                <a class="twitter-share-button"
                    data-via="tmrowco"
                    data-lang="<%= locale %>"></a>
                <!-- Slack -->
                <span class="slack-button">
                    <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                        <span class="slack-ico"></span>
                        <span class="slack-text">Slack</span>
                    </a>
                </span>
            </p>
            <div class="watermark">
                <a class="tomorrow-link" href="http://www.tmrow.co" target="_blank"><img src="images/tomorrow_logo_open_source.svg" style="width:160px"/></a>
                <br />
                <div class="fb-like" 
                    data-href="https://www.facebook.com/tmrowco" 
                    data-layout="button" 
                    data-action="like"
                    data-size="small" 
                    data-show-faces="false">
                </div>&nbsp;<a class="twitter-follow-button"
                    href="https://twitter.com/tmrowco"
                    data-show-screen-name="false"
                    data-show-count="false"
                    data-lang="<%= locale %>"></a>
            </div>
        </div>
        <div class="loading overlay"></div>
        <div id="embedded-error" class="overlay" style="background-color: grey; display: none">
            Embedding of the ElectricityMap has been deactivated. You can still access it at <a href="http://www.electricitymap.org" target="_blank">http://www.electricitymap.org</a>.<br />
            Please contact us at <a href="mailto:hello@tmrow.co">hello@tmrow.co</a> for more information.
        </div>
        <div id="country-tooltip" class="tooltip panel">
            <%= __('misc.carbonintensity') %>:<br />
            <i id="country-flag"></i> <span id="country-code"></span>: 
            <div class="emission-rect"></div> <span class="country-emission-intensity"></span> gCO2eq/kWh (<span class="fossil-fuel-percentage"></span> % <%= __('tooltips.fossilfuels')%>)<br />
            <br />
            <%= __('tooltips.electricityprice') %>: <span class="country-spot-price"></span> &euro;/MWh
        </div>
        <div id="exchange-tooltip" class="tooltip panel">
            <%= __('tooltips.crossborderexport') %>:<br />
            <i id="from"></i> <span id="from"></span> → <i id="to"></i> <span id="to"></span>: <span id="flow" style="font-weight: bold"></span> MW<br />
            <br />
            <%= __('tooltips.carbonintensityexport') %>:<br />
            <div class="emission-rect"></div> <span class="country-emission-intensity emission-intensity"></span> gCO2eq/kWh
        </div>
        <div id="countrypanel-production-tooltip" class="tooltip panel">
            <span id="production-proportion"></span> <%= __('tooltips.ofelectricity') %> <i id="country-flag"></i> <span class="country-code"></span> <span id="domain-name"></span><br />
            <small>(<span id="production-proportion-detail"></span>)</small><br />
            <br />
            <%= __('tooltips.utilizing') %> <span id="capacity-factor"></span> <%= __('tooltips.ofinstalled') %><br />
            <small>(<span id="capacity-factor-detail"></span>)</small><br />
            <br />
            <%= __('tooltips.withcarbonintensity') %><br />
            <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO2eq/kWh <small>(source: IPCC 2014)</small>
        </div>
        <div id="countrypanel-exchange-tooltip" class="tooltip panel">
            <span id="exchange-proportion"></span> <%= __('tooltips.of') %> <i class="country-flag"></i> <span class="country-code"></span> <span id="domain-name"></span> <i class="country-exchange-flag"></i> <span class="country-exchange-code"></span><br />
            <small>(<span id="exchange-proportion-detail"></span>)</small><br />
            <br />
            <%= __('tooltips.withcarbonintensity') %><br />
            <i class="country-exchange-source-flag"></i> <span class="country-exchange-source-code"></span>: <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO2eq/kWh<br />
        </div>
    </body>
</html>
