<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8" />
        <meta name="description" content="electricityMap is a live 24/7 visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:description" content="electricityMap is a live 24/7 visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:image" content="https://app.electricitymap.org/images/electricitymap_social_image.png" />
        <meta property="og:title" content="<%= maintitle %>" />
        <meta property="og:type" content="website" />
        <!-- It's import to keep the old og:url, else, likes will not accumulate properly -->
        <meta property="og:url" content="http://electricitymap.tmrow.co" />

        <meta property="og:locale" content="<%= FBLocale %>" />
<% for(var i=0; i<supportedFBLocales.length; i++) { -%>
        <meta property="og:locale:alternate" content="<%= supportedFBLocales[i] %>" />
<% } %>
        <meta property="fb:app_id" content="1267173759989113" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@corradio">
        <meta name="twitter:description" content="electricityMap is a live 24/7 visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta name="twitter:image" content="https://app.electricitymap.org/images/electricitymap_social_image.png">
        <meta name="twitter:site" content="@tmrowco">
        <meta name="twitter:title" content="@electricityMap | Live 24/7 CO2 emissions of electricity consumption" />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />

        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval' blob:; style-src * 'unsafe-inline'; media-src *;" />

        <meta name="apple-itunes-app" content="app-id=1224594248" />

        <title>electricityMap | <%= maintitle %></title>

        <link rel="icon" type="image/svg+xml" href="<%= resolvePath('images/electricitymap-favicon-dark-light.svg') %>">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= resolvePath('images/apple-icon-180x180.png') %>">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= resolvePath('images/favicon-32x32.png') %>">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= resolvePath('images/favicon-16x16.png') %>">
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#ffffff">

        <!-- Pre-connect to improve performances -->
        <link rel="preconnect" href="https://app-backend.electricitymap.org/">


        <!-- Preload font files to improve performance-->
        <link rel="preload" href="<%= resolvePath('fonts/OpenSans-Regular.woff2') %>" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="<%= resolvePath('fonts/OpenSans-Bold.woff2') %>" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="<%= resolvePath('fonts/EuclidTriangle-Regular.woff') %>" as="font" type="font/woff" crossorigin>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="<%= resolvePath('dist/bundle.' + bundleStylesHash + '.css') %>">
        <link rel="stylesheet" type="text/css" href="<%= resolvePath('dist/vendor.' + vendorStylesHash + '.css') %>">


        <!-- Language -->
<% for(var i=0; i<alternateUrls.length; i++) { -%>
        <link rel="alternate" href="<%- alternateUrls[i] %>" hreflang="<%= supportedLocales[i] %>" />
<% } %>
        <!-- Canonical -->
<% if (typeof canonicalUrl != 'undefined') { -%>
        <link rel="alternate" href="<%- canonicalUrl.replace(/[?|&]lang=[^&]*/, '') %>" hreflang="x-default" />
        <link rel="canonical" href="<%- canonicalUrl %>" />
<% } %>
        <!-- Set Global Variables -->
        <script>
            var bundleHash = '<%= bundleHash %>';
            var resolvePath = <%- resolvePath %>;
            var isCordova = <%= (typeof isCordova !== 'undefined' && isCordova) %>;
        </script>

        <!-- Add crash reporting early on so we catch all errors -->
        <script
          src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js"
          integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v"
          crossorigin="anonymous"></script>
        <script>
            if (bundleHash.indexOf('dev') === -1 && !isCordova) {
                Sentry.init({
                    dsn: 'https://bdda83aba5724206bf02a880b14c56d1@sentry.io/1295430',
                    release: '<%= bundleHash %>',
                    ignoreErrors: [
                        // Non actionable errors:
                        "invalid pixel coordinate"
                    ]
                });
            }
        </script>

        <!-- Google App Indexing (Android) -->
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/https/app.electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/http/app.electricitymap.org" />

        <!-- Google App Indexing (iOS) -->
        <link rel="alternate" href="ios-app://1224594248/https/app.electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/http/app.electricitymap.org" />

        <% if (typeof isCordova != 'undefined' && isCordova) { %>
        <script src="../cordova.js"></script>
        <% } %>
        <script defer src="<%= resolvePath('dist/vendor.' + vendorHash + '.js') %>"></script>
        <script defer src="<%= resolvePath('dist/bundle.' + bundleHash + '.js') %>"></script>

        <!-- Plausible -->
        <script defer data-domain="app.electricitymap.org" src="https://plausible.io/js/plausible.local.js"></script>
    </head>
    <body id="app"></body>

</html>
