<%
co2Sub = function(str) {
    return (str || '').replace("CO2", "CO<span class='sub'>2</span>");
}
%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8" />
        <meta name="description" content="electricityMap is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:description" content="electricityMap is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta property="og:image" content="https://www.electricitymap.org/images/electricitymap_social_image.jpg" />
        <meta property="og:title" content="<%= __('misc.maintitle') %>" />
        <meta property="og:type" content="website" />
        <!-- It's import to keep the old og:url, else, likes will not accumulate properly -->
        <meta property="og:url" content="http://electricitymap.tmrow.co" />
        <meta property="og:locale" content="<%= FBLocale %>" />
        <% for(var i=0; i<supportedFBLocales.length; i++) {%>
        <meta property="og:locale:alternate" content="<%= supportedFBLocales[i] %>" />
        <% } %>
        <meta property="fb:app_id" content="1267173759989113" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@corradio">
        <meta name="twitter:description" content="electricityMap is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it." />
        <meta name="twitter:image" content="https://www.electricitymap.org/images/electricitymap_social_image.jpg">
        <meta name="twitter:site" content="@tmrowco">
        <meta name="twitter:title" content="@electricityMap | Live CO2 emissions of electricity consumption" />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />

        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval' blob:; style-src * 'unsafe-inline'; media-src *;" />

        <meta name="apple-itunes-app" content="app-id=1224594248" />

        <title>electricityMap | <%= __('misc.maintitle') %></title>

        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="dist/styles.<%= stylesHash %>.css">
        <link rel="stylesheet" type="text/css" href="dist/vendor.<%= vendorStylesHash %>.css">

        <!-- Fonts -->
        <link href="css/OpenSansFont.css" rel="stylesheet">
        <link href="css/MaterialIcons.css" rel="stylesheet">


        <!-- Language -->
        <% for(var i=0; i<alternateUrls.length; i++) {%>
        <link rel="alternate" href="<%- alternateUrls[i] %>" hreflang="<%= supportedLocales[i] %>" />
        <% } %>
        <% if (typeof fullUrl != 'undefined') { %>
        <link rel="alternate" href="<%- fullUrl.replace('&lang=' + locale, '').replace('/?lang=' + locale, '/?').replace(/\?$/, '').replace('/?&', '/?') %>" hreflang="x-default" />
        <link rel="canonical" href="<%- fullUrl %>" />
        <% } %>

        <!-- Google App Indexing (Android) -->
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/https/electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/http/electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/https/www.electricitymap.org" />
        <link rel="alternate" href="android-app://com.tmrow.electricitymap/http/www.electricitymap.org" />

        <!-- Google App Indexing (iOS) -->
        <link rel="alternate" href="ios-app://1224594248/https/electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/http/electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/https/www.electricitymap.org" />
        <link rel="alternate" href="ios-app://1224594248/http/www.electricitymap.org" />

        <% if (typeof isCordova != 'undefined' && isCordova) { %>
        <script src="../cordova.js"></script>
        <% } %>
        <script defer src="dist/vendor.<%= vendorHash %>.js"></script>
        <script defer src="dist/bundle.<%= bundleHash %>.js"></script>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79729918-1"></script>

        <!-- Set Global Variables -->
        <script>
            var bundleHash = '<%= bundleHash %>';
            var locale = '<%= locale %>';
            var FBLocale = '<%= FBLocale %>';
            var isCordova = <%= (typeof isCordova !== 'undefined' && isCordova) %>;
        </script>
    </head>
    <body lang="<%= locale %>">
        <div id="main">
            <div id="header">
                <div id="header-content" class="brightmode">
                    <div class="logo">
                        <div class="image" id="electricitymap-logo"></div>
                        <span class="maintitle small-screen-hidden">

                            <span class="live" style="font-weight: bold">Live</span>
                             · <a href="https://data.electricitymap.org?utm_source=electricitymap.org&utm_medium=referral">Database</a>
                             · <a href="https://api.electricitymap.org?utm_source=electricitymap.org&utm_medium=referral">API</a>
                        </span>
                    </div>
                </div>
            </div>
            <div id="inner">
                <div id="loading" class="loading overlay"></div>

                <div id="embedded-error" class="overlay" style="background-color: grey; display: none">
                    Embedding of the ElectricityMap has been deactivated. You can still access it at <a href="http://www.electricitymap.org" target="_blank">https://www.electricitymap.org</a>.<br />
                    Please contact us at <a href="mailto:hello@tmrow.com">hello@tmrow.com</a> for more information.
                </div>

                <div class="panel left-panel">
                    <div id="mobile-header" class="large-screen-hidden brightmode">
                        <div class="header-content">
                            <div class="logo">
                                <div class="image" id="electricitymap-logo"></div>
                            </div>
                            <div class="right-header large-screen-hidden">
                                <span id="small-loading" class="loading"></span>
                                <span class="current-datetime-from-now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="left-panel-zone-list">

                        <div class="zone-list-header">
                            <div class="title"> <%- __('left-panel.zone-list-header-title') %></div>
                            <div class="subtitle"> <%- co2Sub(__('left-panel.zone-list-header-subtitle')) %></div>
                        </div>

                        <div class="zone-search-bar">
                            <input placeholder="<%- __('left-panel.search') %>"></input>
                        </div>

                        <div class="zone-list">
                        </div>

                        <div class="info-text small-screen-hidden">
                            <p>
                                    <%- __('panel-initial-text.thisproject') %> <a href="https://github.com/tmrowco/electricitymap-contrib" target="_blank"><%- __('panel-initial-text.opensource') %></a> (<%- __('panel-initial-text.see') %> <a href="https://github.com/tmrowco/electricitymap-contrib#data-sources" target="_blank"><%- __('panel-initial-text.datasources') %></a>). <%- __('panel-initial-text.contribute', 'https://github.com/tmrowco/electricitymap-contrib#adding-a-new-country') %>.
                            </p>

                            <p>
                                <%- __('footer.foundbugs') %> <a href="https://github.com/tmrowco/electricitymap-contrib/issues/new" target="_blank"><%- __('footer.here') %></a>.<br />
                            </p>
                            <p>
                                <%- __('footer.likethisvisu') %> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-_sRr3mmhe0bifigGxfAzgh97-pJFcwpwWZGLFc6vvu8laA/viewform?c=0&w=1" target="_blank"><%- __('footer.loveyourfeedback') %></a>!
                            </p>
                            <p>
                                    <%- __('footer.faq-text') %> <a class="faq-link"><%- __('footer.faq') %></a>
                                </p>
                            <p>
                                    <input type="checkbox" id="checkbox-colorblind" />
                                    <label for="checkbox-colorblind"><%- __('legends.colorblindmode') %></label>
                            </p>
                            <div class="social-buttons">
                                <p>
                                    <!-- Facebook share -->
                                    <div class="fb-share-button"
                                        data-href="https://www.electricitymap.org/"
                                        data-layout="button_count">
                                    </div>
                                    <!-- Twitter share -->
                                    <a class="twitter-share-button"
                                        data-url="https://www.electricitymap.org"
                                        data-via="electricitymap"
                                        data-lang="<%= locale %>">
                                    </a>
                                    <!-- Slack -->
                                    <span class="slack-button">
                                        <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                                            <span class="slack-ico"></span>
                                            <span class="slack-text">Slack</span>
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>


                    </div>

                    <div class="mobile-info-tab large-screen-hidden">
                        <div class="mobile-watermark" class="brightmode">
                            <a href="http://www.tmrow.com/?utm_source=electricitymap.org&utm_medium=referral&utm_campaign=watermark" target="_blank"><img src="images/built-by-tomorrow.svg"/></a>
                            <div class="socialicons">
                                <div class="fb-like"
                                    data-href="https://www.facebook.com/tmrowco"
                                    data-layout="button"
                                    data-action="like"
                                    data-size="small"
                                    data-show-faces="false">
                                </div>
                                <a class="twitter-follow-button"
                                    href="https://twitter.com/electricitymap"
                                    data-show-screen-name="false"
                                    data-show-count="false"
                                    data-lang="<%= locale %>"></a>
                                </div>
                            </div>
                        <div class="info-text">
                            <%- __('panel-initial-text.thisproject') %> <a href="https://github.com/tmrowco/electricitymap-contrib" target="_blank"><%- __('panel-initial-text.opensource') %></a> (<%- __('panel-initial-text.see') %> <a href="https://github.com/tmrowco/electricitymap-contrib#data-sources" target="_blank"><%- __('panel-initial-text.datasources') %></a>). <%- __('panel-initial-text.contribute', 'https://github.com/tmrowco/electricitymap-contrib#adding-a-new-country') %>.
                            <p>
                                <%- __('footer.foundbugs') %> <a href="https://github.com/tmrowco/electricitymap-contrib/issues/new" target="_blank"><%- __('footer.here') %></a>.<br />
                            </p>
                            <p>
                                <%- __('footer.likethisvisu') %> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-_sRr3mmhe0bifigGxfAzgh97-pJFcwpwWZGLFc6vvu8laA/viewform?c=0&w=1" target="_blank"><%- __('footer.loveyourfeedback') %></a>!
                            </p>
                            <p>
                                    <input type="checkbox" id="checkbox-colorblind" />
                                    <label for="checkbox-colorblind"><%- __('legends.colorblindmode') %></label>
                            </p>
                        </div>
                        <div class="social-buttons large-screen-hidden">
                            <p>
                                <!-- Facebook share -->
                                <div class="fb-share-button"
                                    data-href="https://www.electricitymap.org/"
                                    data-layout="button_count">
                                </div>
                                <!-- Twitter share -->
                                <a class="twitter-share-button"
                                    data-url="https://www.electricitymap.org"
                                    data-via="electricitymap"
                                    data-lang="<%= locale %>">
                                </a>
                                <!-- Slack -->
                                <span class="slack-button">
                                    <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                                        <span class="slack-ico"></span>
                                        <span class="slack-text">Slack</span>
                                    </a>
                                </span>
                            </p>
                        </div>

                        <div class="mobile-faq-header">
                            <%- __('misc.faq') %>
                        </div>
                        <div class="mobile-faq"></div>
                    </div>
                    <div class="left-panel-zone-details">

                        <div class="country-panel">
                            <div class="country-table-header">
                                <div class="left-panel-zone-details-toolbar">
                                    <span class="left-panel-back-button">
                                        <i class="material-icons" aria-hidden="true">arrow_back</i>
                                    </span>
                                    <div class="country-name-time">
                                        <div class="country-name-time-table">
                                            <div style="display: table-cell">
                                                <img id="country-flag" class="flag"></img>
                                            </div>

                                            <div style="display: table-cell">
                                                <div class="country-name"></div>
                                                <div class="country-time">?</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="country-table-header-inner">
                                    <div class="country-col country-emission-intensity-wrap">
                                        <div id="country-emission-rect" class="country-col-box emission-rect emission-rect-overview">
                                            <div><span class="country-emission-intensity"></span>g</div>
                                        </div>
                                        <div class="country-col-headline"><%- co2Sub(__('country-panel.carbonintensity')) %></div>
                                        <div class="country-col-subtext">(gCO<span class="sub">2</span>eq/kWh)</div>
                                    </div>
                                    <div class="country-col country-lowcarbon-wrap">
                                        <div id="country-lowcarbon-gauge" class="country-gauge-wrap"></div>
                                        <div class="country-col-headline"><%- co2Sub(__('country-panel.lowcarbon')) %></div>
                                        <div class="country-col-subtext"></div>
                                    </div>
                                    <div class="country-col country-renewable-wrap">
                                        <div id="country-renewable-gauge" class="country-gauge-wrap"></div>
                                        <div class="country-col-headline"><%- __('country-panel.renewable') %></div>
                                    </div>
                                </div>
                                <div class="country-show-emissions-wrap">
                                    <div class="menu">
                                        <a id="production" href="javascript:toggleSource(false)"><%- __('country-panel.electricity') %></a>
                                        |
                                        <a id="emissions" href="javascript:toggleSource(true)"><%- co2Sub(__('country-panel.emissions')) %></a>
                                    </div>
                                </div>
                            </div>

                            <div class="country-panel-wrap">
                                <div class="bysource">
                                    <%- __('country-panel.bysource') %>
                                </div>
                                <div class="country-table-container"></div>
                            </div>

                            <div class="zone-details-no-parser-message">
                                <%- __('country-panel.noParserInfo', 'https://github.com/tmrowco/electricitymap-contrib#adding-a-new-country') %>
                            </div>

                            <hr />
                            <div class="country-history">
                                <div class="loading overlay"></div>
                                <span class="country-history-title">
                                    <%- co2Sub(__('country-history.carbonintensity24h')) %>
                                </span>
                                <br />
                                <small class="small-screen-hidden">
                                    <i class="material-icons" aria-hidden="true">file_download</i> <a href="https://data.electricitymap.org/?utm_source=electricitymap.org&utm_medium=referral&utm_campaign=country_panel" target="_blank"><%- __('country-history.Getdata') %></a>
                                    <span class="pro"><i class="material-icons" aria-hidden="true">lock</i> pro</span>
                                </small>
                                <svg id="country-history-carbon"></svg>

                                <div class="loading overlay"></div>
                                <span class="country-history-title" id="country-history-electricity-carbonintensity">
                                    <%- __('country-history.electricityorigin24h') %>
                                </span>
                                <br />
                                <small class="small-screen-hidden">
                                    <i class="material-icons" aria-hidden="true">file_download</i> <a href="https://data.electricitymap.org/?utm_source=electricitymap.org&utm_medium=referral&utm_campaign=country_panel" target="_blank"><%- __('country-history.Getdata') %></a>
                                    <span class="pro"><i class="material-icons" aria-hidden="true">lock</i> pro</span>
                                </small>
                                <svg id="country-history-mix"></svg>

                                <div class="loading overlay"></div>
                                <span class="country-history-title">
                                    <%- __('country-history.electricityprices24h') %>
                                </span>
                                <svg id="country-history-prices"></svg>
                            </div>
                            <hr />
                            <p>

                                <%- __('country-panel.source')%>:
                                <a href="https://github.com/tmrowco/electricitymap-contrib#real-time-electricity-data-sources" target="_blank"><span class="country-data-source"></span></a><small> (<%- __('country-panel.addeditsource', 'https://github.com/tmrowco/electricitymap-contrib/tree/master/parsers') %>)</small> <%- __('country-panel.helpfrom')%>
                                <p class="contributors">
                                </p>

                            </p>
                            <div class="social-buttons large-screen-hidden">
                                <p>
                                    <!-- Facebook share -->
                                    <div class="fb-share-button"
                                        data-href="https://www.electricitymap.org/"
                                        data-layout="button_count">
                                    </div>
                                    <!-- Twitter share -->
                                    <a class="twitter-share-button"
                                    data-url="https://www.electricitymap.org"
                                    data-via="electricitymap"
                                    data-lang="<%= locale %>"></a>
                                    <!-- Slack -->
                                    <span class="slack-button">
                                        <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                                            <span class="slack-ico"></span>
                                            <span class="slack-text">Slack</span>
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="detail-bottom-section">
                            <div class="zone-time-slider"></div>
                            <div class="social-buttons small-screen-hidden">
                                <p>
                                    <!-- Facebook share -->
                                    <div class="fb-share-button"
                                        data-href="https://www.electricitymap.org/"
                                        data-layout="button_count">
                                    </div>
                                    <!-- Twitter share -->
                                    <a class="twitter-share-button"
                                    data-url="https://www.electricitymap.org"
                                    data-via="electricitymap"
                                    data-lang="<%= locale %>"></a>
                                    <!-- Slack -->
                                    <span class="slack-button">
                                        <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                                            <span class="slack-ico"></span>
                                            <span class="slack-text">Slack</span>
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-panel">
                        <div class="faq-header">
                            <span class="left-panel-back-button">
                                    <i class="material-icons" aria-hidden="true">arrow_back</i>
                            </span>
                            <span class="title"><%- __('misc.faq') %></span>
                        </div>
                        <div class="faq"></div>
                    </div>

                </div>

                <div id="map-container">
                    <div id="zones" class="map-layer"></div>
                    <canvas id="wind" class="map-layer"></canvas>
                    <canvas id="solar" class="map-layer"></canvas>
                    <div id="watermark" class="watermark small-screen-hidden brightmode">
                        <a href="http://www.tmrow.com/?utm_source=electricitymap.org&utm_medium=referral&utm_campaign=watermark" target="_blank">
                            <div id="built-by-tomorrow"></div>
                        </a>
                    </div>
                    <div class="floating-legend-container">
                        <div class="floating-legend-mobile-header">
                            <span><%- __('misc.legend') %></span>
                            <i class="material-icons toggle-legend-button up">call_made</i>
                            <i class="material-icons toggle-legend-button down visible">call_received</i>
                        </div>
                        <div class="wind-potential-legend floating-legend">
                                <div class="legend-header"><%- __('legends.windpotential') %> <small>(m/s)</small></div>
                                <svg class="wind-potential-bar potential-bar colorbar"></svg>
                        </div>
                        <div class="solar-potential-legend floating-legend">
                                <div class="legend-header"><%- __('legends.solarpotential') %> <small>(W/m<span class='sup'>2</span>)</small></div>
                                <svg class="solar-potential-bar potential-bar colorbar"></svg>
                        </div>
                        <div class="co2-legend floating-legend">
                                <div class="legend-header"><%- co2Sub(__('legends.carbonintensity'))%> <small>(gCO<span class="sub">2</span>eq/kWh)</small></div>
                                <svg class="co2-colorbar colorbar potential-bar"></svg>
                        </div>
                    </div>
                    <div class="layer-buttons-container">
                        <div>
                                <button class="layer-button wind-button"></button>
                                <div id="wind-layer-button-tooltip"  class="layer-button-tooltip hidden">
                                        <div class="tooltip-container">
                                            <div class="tooltip-text"><%- __('tooltips.showWindLayer') %></div>
                                            <div class="arrow"></div>
                                        </div>
                                </div>
                        </div>
                        <div>
                                <button class="layer-button solar-button"></button>
                                <div id="solar-layer-button-tooltip" class="layer-button-tooltip hidden">
                                        <div class="tooltip-container">
                                                <div class="tooltip-text"><%- __('tooltips.showSolarLayer') %></div>
                                                <div class="arrow"></div>
                                        </div>
                                </div>
                        </div>
                        <div>
                                <button class="layer-button brightmode-button"></button>
                                <div id="brightmode-layer-button-tooltip" class="layer-button-tooltip hidden">
                                        <div class="tooltip-container">
                                                <div class="tooltip-text"><%- __('tooltips.toggleDarkMode') %></div>
                                                <div class="arrow"></div>
                                        </div>
                                </div>
                        </div>

                    </div>



                </div>

                <div id="connection-warning" class="flash-message">
                    <div class="inner"><%- __('misc.oops') %> <a href='' onclick='window.retryFetch(); return false;'><%- __('misc.retrynow') %></a>.</div>
                </div>
                <div id="new-version" class="flash-message">
                    <div class="inner"><%- __('misc.newversion') %></div>
                </div>

                <div id="left-panel-collapse-button" class="small-screen-hidden">
                    <i class="material-icons">arrow_drop_down</i>
                </div>

                <!-- end #inner -->
            </div>
            <div id="tab">
                <div id="tab-content">
                    <a class="list-item map-button">

                            <i class="material-icons" aria-hidden="true">map</i>
                            <span class="tab-label"><%- __('mobile-main-menu.map') %></span>

                    </a>
                    <a class="list-item highscore-button">

                            <i class="material-icons" aria-hidden="true">view_list</i>
                            <span class="tab-label"><%- __('mobile-main-menu.areas') %></span>

                    </a>
                    <a class="list-item info-button">

                            <i class="material-icons" aria-hidden="true">info</i>
                            <span class="tab-label"><%- __('mobile-main-menu.about') %></span>

                    </a>
                </div>
            </div>
        </div>
        <div id="country-tooltip" class="tooltip panel">
            <div class="zone-name-header">
                    <img id="country-flag" class="flag"></img> <span id="country-name"></span>
            </div>
            <div class="zone-details">
                <div class="country-table-header-inner">
                    <div class="country-col country-emission-intensity-wrap">
                        <div id="country-emission-rect" class="country-col-box emission-rect emission-rect-overview">
                            <div><span class="country-emission-intensity"></span>g</div>
                        </div>
                        <div class="country-col-headline"><%- co2Sub(__('country-panel.carbonintensity')) %></div>
                    </div>
                    <div class="country-col country-lowcarbon-wrap">
                        <div id="tooltip-country-lowcarbon-gauge" class="country-gauge-wrap"></div>
                        <div class="country-col-headline"><%- co2Sub(__('country-panel.lowcarbon')) %></div>
                        <div class="country-col-subtext"></div>
                    </div>
                    <div class="country-col country-renewable-wrap">
                        <div id="tooltip-country-renewable-gauge" class="country-gauge-wrap"></div>
                        <div class="country-col-headline"><%- __('country-panel.renewable') %></div>
                    </div>
                </div>
            </div>
            <div class="temporary-outage-text">
                    <%-        __('tooltips.temporaryDataOutage')  %>
            </div>
            <div class="no-parser-text">
                    <%-        __('tooltips.noParserInfo')  %>
            </div>
        </div>
        <div id="exchange-tooltip" class="tooltip panel">
            <%- __('tooltips.crossborderexport') %>:<br />
            <img class="from flag"></img> <span id="from"></span> → <img class="to flag"></img> <span id="to"></span>: <span id="flow" style="font-weight: bold"></span> MW<br />
            <br />
            <%- co2Sub(__('tooltips.carbonintensityexport')) %>:<br />
            <div class="emission-rect"></div> <span class="country-emission-intensity emission-intensity"></span> gCO<span class="sub">2</span>eq/kWh
        </div>
        <div id="price-tooltip" class="tooltip panel">
            <span class="value"></span> <span class="currency"></span>/MWh
        </div>
        <div id="countrypanel-production-tooltip" class="tooltip panel">
            <span id="line1"></span><br />
            <small>(<span id="production-proportion-detail"></span>)</small><br />
            <span class="production-visible">
                <br />
                <%- __('tooltips.utilizing') %> <span id="capacity-factor"></span> <%- __('tooltips.ofinstalled') %><br />
                <small>(<span id="capacity-factor-detail"></span>)</small><br />
                <br />
                <%- co2Sub(__('tooltips.withcarbonintensity')) %><br />
                <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO<span class="sub">2</span>eq/kWh <small>(<%- __('country-panel.source') %>: <span class="emission-source"></span>)</small>
            </span>
        </div>
        <div id="countrypanel-exchange-tooltip" class="tooltip panel">
            <span id="line1"></span><br />
            <small>(<span id="exchange-proportion-detail"></span>)</small><br />
            <span class="production-visible">
                <br />
                <%- __('tooltips.utilizing') %> <span id="capacity-factor"></span> <%- __('tooltips.ofinstalled') %><br />
                <small>(<span id="capacity-factor-detail"></span>)</small><br />
                <br />
                <%- co2Sub(__('tooltips.withcarbonintensity')) %><br />
                <img class="country-exchange-source-flag flag"></img> <span class="country-exchange-source-name"></span>: <div class="emission-rect"></div> <span class="emission-intensity"></span> gCO<span class="sub">2</span>eq/kWh<br />
            </span>
        </div>
    </body>

</html>
